name: Preprocessing Workflow

on:
  push:
    branches:
      - main  # jalankan workflow setiap ada push ke branch main
  workflow_dispatch: # agar bisa dijalankan manual dari GitHub

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12.7'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pandas scikit-learn numpy matplotlib seaborn

    - name: Run preprocessing
      run: |
        python preprocessing/automate_Shafly-Khalifa-Pamungkas.py
        

    - name: Verify preprocessed dataset
      run: |
        ls -l preprocessing/
